<tr class="{CSS_ROW}" data-section-key="{TOUR_ID}">
    <td class="std">
        <input type="hidden" value="{TOUR_ID}">
    </td>
    <td class="std">
        {TOUR_TITLE}
    </td>
    <td class="std">
        {TOUR_TYPE}
    </td>
    <td class="std">
        <!-- BEGIN active_input --><input type="checkbox" name="tour_active[{TOUR_ID}]" value="{TOUR_ACTIVE}" disabled {TOUR_ACTIVE_CHECKED} /><!-- END active_input -->
    </td>
    <td class="std">
        <!-- BEGIN auto_triggered_input --><input type="checkbox" name="tour_auto_triggered[{TOUR_ID}]" value="{TOUR_AUTOTRIGGER}" disabled {TOUR_AUTOTRIGGER_CHECKED} /><!-- END auto_triggered_input -->
    </td>
    <!-- BEGIN actions -->
    <td class="std">
        {ACTIONS}
    </td>
    <!-- END actions -->
</tr>