<!-- gtour -->
<script type="text/javascript">
    function removeParam(parameter)
    {
        let url = document.location.href;
        let urlParts = url.split('?');

        if (urlParts.length >= 2)
        {
            let urlBase = urlParts.shift();
            let queryString = urlParts.join("?");

            let prefix = encodeURIComponent(parameter) + '=';
            let pars = queryString.split(/[&;]/g);
            for (let i = pars.length; i-->0;)
                if (pars[i].lastIndexOf(prefix, 0) !== -1)
                    pars.splice(i, 1);
            url = urlBase + '?' + pars.join('&');

            // Push the new URL directly to URL-Bar
            window.history.pushState('',document.title,url);
        }
        return url;
    }

    $(function() {
        il.Plugins.GuidedTour..hideGuidedTourOnSmallScreen();

        let tour;
        const tours = {{GTOUR_TOURS}};
        const tourName = '{GTOUR_NAME}';
        const tourStart = '{GTOUR_START}';
        const tourDefault = '{GTOUR_DEFAULT}';
        const tourStorage = {GTOUR_STORAGE};
        const tourTemplate = `
        <div class='popover tour'>
          <div class='arrow'></div>
          <h4 class='popover-title'></h4>
          <div class='popover-content'></div>
          <div class='popover-navigation' style='padding: 9px 12px'>
            <button class='btn-default btn-sm' data-role='prev'>« {GTOUR_BTN_PREV}</button><span data-role='separator'>|</span>
            <button class='btn-default btn-sm' data-role='next'>{GTOUR_BTN_NEXT} »</button><span data-role='separator'>|</span>
            <button class='btn-default btn-sm' data-role='end'>{GTOUR_BTN_STOP}</button>
          </div>
        </div>`;

        let tourCurrentName = '{GTOUR_CURRENT_NAME}';
        if(!(!tourCurrentName || tourCurrentName.length === 0)) {
          tourStorage.setItem('{GTOUR_NAME}_current_name', tourCurrentName);
        } else if (tourStorage.getItem('{GTOUR_NAME}_current_name')) {
            tourCurrentName = tourStorage.getItem('{GTOUR_NAME}_current_name');
        }

        let steps = '';
        if(!(!tours || tours.length === 0)) {
            steps = tours[tourCurrentName];
        }

        tour = new Tour({
            name: tourName,
            framework: 'bootstrap3',
            storage: tourStorage,
            smartPlacement: true,
            template: tourTemplate,
            onEnd: function(tour) {
                removeParam('triggerTour');
            },
            steps: steps
        });

        if (tourStart == 'true') {
            tour.restart();
        } else {
            tour.start();
        }
    }).delay( 300 );
</script>
<!-- End gtour Code -->